.main-container {
  display: flex;
  min-height: 100vh; /* Hace que el contenedor ocupe todo el alto de la pantalla */
}

.sidebar {
  width: 250px; /* Puedes ajustar el tamaño */
  background-color: #001529; /* Color del Sidebar similar al de Ant Design */
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.content-container {
  margin-left: 250px; /* Empuja el contenido hacia la derecha para que no se superponga con el Sidebar */
  padding: 24px;
  flex: 1; /* Hace que el contenido ocupe el resto del espacio disponible */
  background-color: #f0f2f5; /* Color de fondo claro */
  min-height: 100vh;
}
